

{% extends 'base.html' %}
{% set active = "Home" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<body >
<section class="jumbotron big-banner" style="height: 100%; width: 100%;">
    <div style = width:500px;>
        
       
            
        <br><br><br><br><br><h1 h1 style="color:white">Breaking down complex subjects into smaller pieces can be achieved by flashcards and practice tests.</h1>
           
        <p style="text-align: justify;font-size:20px;" class="text-white"> Join the 60 million students who are already using FlashRewind's science-based flashcards, practice exams, and activities to succeed in school, college, and beyond.</p>
        
        <p style="text-align:justify;"><a href="/signup" class="btn btn-primary ">Signup For Free</a></p>    
    </div>   
</section>

</body>
<footer>
   
    <div class="footer-content" style="height: 100%; width: 100%;">
        <h3> Flash Rewind</h3>
        <p>Create, learn and remember with Flash Rewind - the ultimate flashcard generator! Master any topic with our customizable flashcards, and take your education to the next level.</p>

        <ul class="socials">
            <li><a href="#"><i class = "fa fa-facebook"></i></a></li>
            <li><a href="#"><i class = "fa fa-twitter"></i></a></li>
            <li><a href="#"><i class = "fa fa-instagram"></i></a></li>
            <li><a href="#"><i class = "fa fa-youtube"></i></a></li>
            <li><a href="#"><i class = "fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 FlarshRewind. All Rights Reserved</p>
    
</div>
</footer>




{% endblock %}