{% extends 'base.html' %}
{% set active = "About" %}

{% block title %}
Related Sites
{% endblock %}

{% block content %}
<div class="support">
    <h1 class ="yellow-text" style="text-align: center;">Support</h1>

    <br>
    <div class="supports">
    <p class="gray-text">Welcome to the support page for Flash Rewind! Here, you'll find helpful resources to assist you with any issues you may encounter while using our website.</p>
    <p class="gray-text">If you have any questions or concerns, please feel free to reach out to our customer support team by emailing us at <a href="support@flashrewind.com">support@flashrewind.com.</a> Our team is available 24/7 to help you with any issues or questions you may have.</p>
    </div>
    <br>
    <p class ="yellow-text" style="font-size: large; text-align: center;">Frequently Asked Questions:</p>
    <p><div class="sup">
    <ol class="gray-text" class="a" style="text-align: justify;">
        <li class="gray-text">How do I create flashcards on Flash Rewind?</li>
        <li class="gray-text">How do I edit or delete my flashcards?</li>
        <li class="gray-text">Can I share my flashcards with other users?</li>
        <li class="gray-text">How do I search for flashcards on a specific topic?</li>
    </ol></p>
    </div>
    <p class="gray-text" style="text-align: center;">If you need assistance with any of the above, or any other issues, please contact our customer support team.</p>

    <p class="gray-text" style="text-align: center;">Thank you for choosing Flash Rewind!</p>

</div>


<footer>
   
    <div class="footer-content">
        <h3> Flash Rewind</h3>
        <p>Create, learn and remember with Flash Rewind - the ultimate flashcard generator! Master any topic with our customizable flashcards, and take your education to the next level.</p>

        <ul class="socials">
            <li><a href="#"><i class = "fa fa-facebook"></i></a></li>
            <li><a href="#"><i class = "fa fa-twitter"></i></a></li>
            <li><a href="#"><i class = "fa fa-instagram"></i></a></li>
            <li><a href="#"><i class = "fa fa-youtube"></i></a></li>
            <li><a href="#"><i class = "fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 FlarshRewind. All Rights Reserved</p>
    
</div>
</footer>


    
{% endblock %}